<section id="two" class="wrapper style3 fade-up">
		<div class="inner">
<h2>Who Is It For?</h2>
<p>Kudoy targets the mid-sized enterprise, organization or division leader that seeks to rapidly develop strategy. The target is a 30’s or 40’s professional, who is accountable for products, services, or manages a team of professionals with a fairly well defined context.</p>
<p>If the individual is a leader, the intent is to help them gain perspective or a flash of insight that helps them achieve business breakthroughs and quickly achieve control and set strategic direction.</p>
<p>If the individual is a manager, the intent is to give them a context in which to operate and a new paradigm to pursue.</p>
</div>
</section>